@tailwind base;
@tailwind components;
@tailwind utilities;

/* For increment and decrement option in number input field */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For WebKit browsers (Chrome, Safari) */
.table-container::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.table-container::-webkit-scrollbar-track {
    background: #404a96;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    background: #3573a3;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #4e46b3;
}

/* For Firefox */
.table-container {
    scrollbar-width: thin;
    scrollbar-color: rgb(147 197 253) #f1f1f1;
}